.Header {
  display: flex;
  width: 100%;
  background-image: url('/static/img/header.jpeg');
  background-size: cover;
  height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  justify-content: center;
  align-items: center;
}

.HeaderIntro {
  display: flex;
}

.Headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
