@use 'sass:map';

$font-anta-base: 'Anta', sans-serif;

$anta: (
  'regular': (
    'weight': 400,
    'style': normal,
  ),
);

@function font-weight($key) {
  @return map.get($anta, $key, 'weight');
}

@function font-style($key) {
  @return map.get($anta, $key, 'style');
}

@each $key, $props in $anta {
  @font-face {
    font-family: 'Anta', sans-serif;
    src: url('/static/fonts/anta/anta-regular/Anta-Regular.woff2')
      format('woff2');
    font-weight: font-weight($key);
    font-style: font-style($key);
    font-display: swap;
  }
}
