@import 'styles/system/theme.module.scss';

.AppBar {
  font-family: $font-exo-base !important;
  transition: all 10s ease-in-out;
}

.NavItem {
  padding: 10px;
  font-weight: 600;
}

#Welcome {
  flex-grow: 1;
  font-family: $font-exo-base !important;
}

.Hidden {
  display: none;
}
