@import 'styles/system/theme.module.scss';

.Container {
  padding: $base_padding * 3;
  background-color: $secondary_charcoal;
}

#TestimonalImage {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background-color: $base-charcoal;
}

.flexStartCenterDisplay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paddingY {
  padding-top: 10px;
  padding-bottom: 10px;
}
