@import '/styles/system/theme.module.scss';

.GetInTouch {
  background-color: $base_red;
  border-radius: $base_radius;
  margin: $base_margin;
  padding: $base_padding;
}

.DisplayFlexCenterAround {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $base_padding / 2;
  padding-bottom: $base_padding / 2;

  .Input {
    width: 60%;

    fieldset {
      border-radius: $base_radius !important;
    }
  }

  button {
    border-radius: $base_radius;
    width: 35%;
  }
}
