@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  transition: all 30ms linear;
}

body {
  line-height: 1.6;
  color: #333333; /* $base-charcoal */
  background-color: #333333; /* $base-charcoal */
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background; */
  }

  @font-face {
    font-family: "Jaro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/jaro/jaro-Regular/Jaro-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Jersey";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/jersey/jersey-Regular/Jersey25Charted-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/permanent-marker/permanent-marker-Regular/PermanentMarker-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Rock Salt";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/rock-salt/rock-salt-Regular/RockSalt-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Yarndings";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/yarndings20/yarndings20-Regular/Yarndings20-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/exo/exo-Regular/Exo-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "anta";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/anta/anta-regular/Anta-Regular.woff2")
      format("woff2");
  }
}
