@import '/styles/system/theme.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-exo-base !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base_black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  transition: 30ms all linear;
}

body {
  line-height: 1.6;
  color: $base-charcoal;
  background-color: $base-white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}
