@import './styles/system/theme.module.scss';

.Container {
  text-align: center;
  border: 2px solid rgb(0, 255, 85);
  padding-top: $base_padding * 10;
  padding-bottom: $base_padding * 10;
}

.InfiniteContainer {
  display: flex;
  flex-wrap: nowrap; // Prevents the items from wrapping to the next line
  overflow-x: auto; // Enables horizontal scrolling
  -webkit-overflow-scrolling: touch; // Improves scrolling on touch devices
  scrollbar-width: thin; // Optional: Makes the scrollbar thinner
  scrollbar-color: var(--your-scrollbar-color) transparent;
}

.GridContainer {
  flex: 0 0 auto; // This prevents grid items from shrinking and ensures they maintain their size
}

.HeadingBox {
  margin-bottom: $base_margin * 3;
}
